@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 90vh;
  width: auto;
  header {
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon-wrap {
      display: flex;
      gap: 0.5em;
      img {
        height: 48px;
        width: 48px;
      }
      h4 {
        font-size: 3em;
      }
    }
    .link-wrap {
      display: flex;
      gap: 8em;
      a {
        padding: 0.2em 0.5em;
        color: black;
        font-weight: 600;
        text-decoration: none;
        font-size: 1.5em;
        &:focus {
          background: linear-gradient(#fff, #fff),
            linear-gradient(to right, #00c6ff, #0072ff);
          background-origin: padding-box, border-box;
          background-repeat: no-repeat; /* this is important */
          border: 5px solid transparent;
          border-radius: 0.5em;
        }
      }
    }
    .profile-wrap {
      display: flex;
      align-items: center;
      gap: 1em;
      img {
        border-radius: 50%;
        width: 48px;
        height: 48px;
      }
      h4 {
        font-size: 1.5em;
      }
    }
  }
}
